@font-face {
  font-family: "Adieu Light";
  src: url("//db.onlinewebfonts.com/t/03af38e6d90add293d43f1ef74ce755f.eot");
  src: url("//db.onlinewebfonts.com/t/03af38e6d90add293d43f1ef74ce755f.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/03af38e6d90add293d43f1ef74ce755f.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/03af38e6d90add293d43f1ef74ce755f.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/03af38e6d90add293d43f1ef74ce755f.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/03af38e6d90add293d43f1ef74ce755f.svg#Adieu Light")
      format("svg");
}

@font-face {
  font-family: "Apercu";
  src: url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.eot");
  src: url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0a086e32e41c5e5960b26626757f07f3.svg#Apercu")
      format("svg");
}

.navbar-brand,
.navbar {
  font-family: "Apercu";
  color: white;
  width: 100%;
  font-size: 150%;
}

nav li {
  display: inline-block;
  padding-right: 30px;
}

nav ul {
  white-space: nowrap;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

.navbar-custom {
  background-color: #6cd3d7;
}

h2 {
  font-family: "Apercu";
}

a {
  font-size: 100%;
}

h1 {
  font-family: "Apercu";
  font-size: 54px;
}

body {
  font-family: "Apercu";
  background-color: #ebfcfc;
}

h1 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#center {
  display: block;
  width: 100%;
  text-align: center;
  max-height: 60%;
}

img {
  margin: 0 auto;
  max-width: 50%;
}

#panel {
  background: #f8f8ff; /* fallback for old browsers */
  padding: 30px;
  width: 100%;
  height: 100%;
}

.dropdown {
  margin: 15px 5px 0px 0px;
  display: inline-block;
}

.model-table {
  width: 50%;
  margin: 20px auto;
}
/* table {
  width: 100%;
  margin: 10px auto;
} */

body {
  font-family: "Apercu";
  height: 100%;
  width: 100%;
}

.home-link {
  color: white;
}

.card {
  width: 22rem;
  margin: 10px;
  border-radius: 5%;
}

.card-img-top {
  padding-top: 10%;
  padding-bottom: 10%;
}

div#main_div {
  margin: 1%;
}

.btn {
  margin: 0px 2px;
}
img.card-img-top {
  width: 100%;
  height: 100%;
}

h1#about-title {
  padding: 0 0 0 0;
  margin: 25px auto 10px;
}

.game-pic,
.developer-img,
.platform-img {
  max-width: 500px;
  max-height: 300px;
  margin: 0px auto 20px;
}

.game-pic {
  padding: 1px;
  border: 3px solid #044981;
}

.game-archive-logo {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

h1.text-center {
  margin: 10px auto 0px;
}

html {
  height: 100%;
}

div#root {
  height: 100%;
}

img.center-img {
  margin: 0 auto;
  border: 1px solid #044981;
  padding: 0 0 0 0;
  border-radius: 3%;
}

.card-title {
  text-align: center;
}

#main-nav {
  z-index: 99999;
}

video {
  z-index: -1;
}

#intro {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
h1.intro-header {
  font-size: 400%;
  color: white;
}

h3.intro-header {
  color: white;
}

/* button {
  border: 1px solid white;
  background-color: #343a40;
  color: white;
  height: 50px;
}

button:hover {
  background-color: #6cd3d7;
} */

.nd {
  display: none;
}

#main-table-body {
  text-align: center;
  padding: 30px;
  font-size: 130%;
}

#dataTable {
  text-align: left;
  font-family: "Apercu";
}

.table.table-hover tbody tr:hover {
  background-color: #6cd3d7;
  color: white;
  cursor: pointer;
}

th:hover {
  cursor: pointer;
}

.form-control.form-control-sm.ml-0.my-1 {
  font-size: 100%;
}

.custom-select.custom-select-sm.form-control.form-control-sm {
  font-size: 100%;
}

.platform-cover {
  max-width: 200px;
}

.platform-div,
.game-div {
  margin: 30px auto;
  text-align: center;
}

.game-div img {
  max-width: 400px;
}

.dev-logo {
  border-radius: 8px;
}

.dev-div,
.results-div {
  text-align: center;
  margin-top: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.dev-logo {
  max-width: 400px;
  margin-bottom: 40px;
}

.dev-logo > * {
  margin: 5px auto;
}

#gallery-container {
  text-align: center;
  margin: 0 auto;
}
li {
  font-family: "Apercu";
}

.platform-list {
  list-style-type: none;
}

.devCard-img {
  min-height: 300px;
}

ul.dev-plat-list {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  margin-left: 0;
  padding-left: 0px;
}
* {
  font-family: "Apercu";
}

.navbar-custom {
  color: #6cd3d7;
}

a.navbar-brand {
  font-size: 120%;
}

a.splash-start {
  color: white;
  text-decoration: underline;
}

h1#ga-title {
  color: #fff;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777,
    0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333,
    0px 8px 7px #001135;
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0px;
}

.results-div {
  margin-top: 20px;
}
